login-page {
  .list-ios[inset]{
    margin: 16px 0px;
  }
  .item-button{

  }
}
.login-bg{
    background:url(../assets/images/true-1.jpg) no-repeat center center ;
    background-size:cover;
}
.login-logo{
  padding: 20vh 5vh 15vh 5vh;
}
